<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<title>优惠券</title>
		<link rel="stylesheet" type="text/css" href="/style/css/public.css">
		<link rel="stylesheet" type="text/css" href="/style/css/account.css">
		<script type="text/javascript" src="/style/js/adapt.js"></script>
	</head>
	<body>
		<div class="m-coupon">
			<ul class="coupon-list">
				<li>
					<p class="f-fl">
						<span class="text">优惠券</span>
						<span class="exprie">有效期至 2016-11-06</span>
					</p>
					<p class="amount f-fr">¥<span>5</span></p>
				</li>
			</ul>
		</div>
	</body>
</html>