<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- 交易明细-消费页面 -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<title>交易明细</title>
		<link rel="stylesheet" type="text/css" href="/style/css/public.css">
		<link rel="stylesheet" type="text/css" href="/style/css/account.css">
		<script type="text/javascript" src="/style/js/adapt.js"></script>
	</head>
	<body>
		<div class="m-jymxcz">
			<p class="hd bb-1px">
				<span class="f-fl">消费</span>
				<span class="amount f-fr">¥1.00</span>
			</p>
			<ul class="info-list">
				<li class="bb-1px">
					<span class="f-fl">当前状态</span>
					<span class="f-fr">消费成功</span>  
				</li>
				<li class="bb-1px">
					<span class="f-fl">交易时间</span>
					<span class="f-fr">2017-10-01 18:38:02</span> 
				</li>
				<li class="bb-1px">
					<span class="f-fl">交易单号</span>
					<span class="f-fr">29089787909989</span>
				</li>
			</ul>
		</div>
	</body>
</html>