<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- 订单详情页面 -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<title>订单详情</title>
		<link rel="stylesheet" type="text/css" href="/style/css/public.css">
		<link rel="stylesheet" type="text/css" href="/style/css/account.css">
		<script type="text/javascript" src="/style/js/adapt.js"></script>
	</head>
	<body>
		<div class="m-orderdetail">
			<p class="hd bb-1px">
				<span class="f-fl">订单号: 202183878755</span>
				<span class="f-fr">已结束</span> <!-- 进行中状态 文字改为"进行中"，添加.working -->
			</p>
			<div class="info">
				<p class="title">使用详情</p>
				<ul class="info-list">
					<li class="clearfix">
						<span class="f-fl">租借时间</span>
						<span class="f-fr">2017-07-13 09:19:16</span>
					</li>
					<li class="clearfix">
						<span class="f-fl">租借地点</span>
						<span class="f-fr">佳兆业广场</span>
					</li>
					<li class="clearfix">
						<span class="f-fl">归还时间</span>
						<span class="f-fr">2017-07-13 11:09:28</span> <!-- 进行中状态 文字不显示 -->
					</li>
					<li class="clearfix">
						<span class="f-fl">归还地点</span>
						<span class="f-fr">佳兆业广场</span> <!-- 进行中状态 文字不显示 -->
					</li>
				</ul>
			</div>
			<!-- 进行中状态 以下内容不显示 -->
			<div class="info">
				<p class="title">价格明细</p>
				<ul class="info-list">
					<li class="clearfix">
						<span class="f-fl">使用时长</span>
						<span class="f-fr">1小时50分钟</span>
					</li>
					<li class="clearfix">
						<span class="f-fl">租金总额</span>
						<span class="f-fr">1元</span>
					</li>
					<li class="clearfix">
						<span class="f-fl">优惠减免</span>
						<span class="f-fr">0元</span>
					</li>
					<li class="clearfix">
						<span class="f-fl">余额扣除</span>
						<span class="f-fr">1元</span>
					</li>
					<li class="clearfix">
						<span class="f-fl">应付金额</span>
						<span class="f-fr">0元</span>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>