<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<title>附近呼响充电宝</title>
		<link rel="stylesheet" type="text/css" href="/style/css/public.css">
		<link rel="stylesheet" type="text/css" href="/style/css/map.css">
		<script type="text/javascript" src="/style/js/adapt.js"></script>
	</head>
	<body>
		<div class="header f-pa">
			<div class="search-bar border-1px">
				<i class="icon-blue-search f-pa"></i>
				<input type="text" class="search f-pa" placeholder="搜索呼响充电宝">
			</div>
		</div>
		<div class="m-nearcharger">
			<ul class="charger-list">
				<li class="border-1px">
					<i class="icon-starmark f-pa">32米</i>
					<div class="addr-detail bb-1px">
						<p class="logo f-fl"><img src="/style/images/map/icon-logo.png"></p>
						<div class="info">
							<p class="name">南山创维广场A座</p>
							<p class="time"><i class="icon-time"></i>0:00-24:00</p>
							<p class="addr"><i class="icon-addr"></i>南山高新三道1032号创维广场</p>
						</div>
					</div>  
					<div class="op">
						<a class="can-borrow br-1px"><i class="icon-canborrow"></i>可借<span>15</span></a>
						<a class="can-repay"><i class="icon-canrepay"></i>可还<span>6</span></a>
					</div>
				</li> 
				<li class="border-1px">
					<i class="icon-starmark f-pa">32米</i>
					<div class="addr-detail bb-1px">
						<p class="logo f-fl"><img src="/style/images/map/icon-logo.png"></p>
						<div class="info">
							<p class="name">南山创维广场A座</p>
							<p class="time"><i class="icon-time"></i>0:00-24:00</p>
							<p class="addr"><i class="icon-addr"></i>南山高新三道1032号创维广场</p>
						</div>
					</div>  
					<div class="op">
						<a class="can-borrow br-1px"><i class="icon-canborrow"></i>可借<span>15</span></a>
						<a class="can-repay"><i class="icon-canrepay"></i>可还<span>6</span></a>
					</div>
				</li> 
				<li class="border-1px">
					<i class="icon-starmark nobg f-pa">1020米</i>
					<div class="addr-detail bb-1px">
						<p class="logo f-fl"><img src="/style/images/map/icon-logo.png"></p>
						<div class="info">
							<p class="name">南山创维广场A座</p>
							<p class="time"><i class="icon-time"></i>0:00-24:00</p>
							<p class="addr"><i class="icon-addr"></i>南山高新三道1032号创维广场</p>
						</div>
					</div>  
					<div class="op">
						<a class="can-borrow br-1px"><i class="icon-canborrow"></i>可借<span>15</span></a>
						<a class="can-repay"><i class="icon-canrepay"></i>可还<span>6</span></a>
					</div>
				</li> 
				<li class="border-1px">
					<i class="icon-starmark nobg f-pa">1020米</i>
					<div class="addr-detail bb-1px">
						<p class="logo f-fl"><img src="/style/images/map/icon-logo.png"></p>
						<div class="info">
							<p class="name">南山创维广场A座</p>
							<p class="time"><i class="icon-time"></i>0:00-24:00</p>
							<p class="addr"><i class="icon-addr"></i>南山高新三道1032号创维广场</p>
						</div>
					</div>  
					<div class="op">
						<a class="can-borrow br-1px"><i class="icon-canborrow"></i>可借<span>15</span></a>
						<a class="can-repay"><i class="icon-canrepay"></i>可还<span>6</span></a>
					</div>
				</li> 
			</ul>			
		</div>

		<script type="text/javascript" src="/style/js/lib/jquery-1.12.4.min.js"></script>

		<script type="text/javascript">
			$('.charger-list').on('click', 'li', function(){
				location.href = 'http://mpp.sohunjug.com/nearcharger/place';
			});
		</script>
	</body>
</html>