<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<title>附近呼响充电宝</title>
		<link rel="stylesheet" type="text/css" href="/style/css/public.css">
		<link rel="stylesheet" type="text/css" href="/style/css/map.css">
		<script type="text/javascript" src="/style/js/adapt.js"></script>
	</head>
	<body>
		<div class="m-place">
			<div class="banner">
				<span>HUX呼响科技</span>
			</div>
			<div class="place bb-1px">
				<div class="f-fl">
					<p class="addr">佳兆业广场</p>
					<p>
						<a class="can-borrow">8可借</a>
						<a class="can-repay">5可还</a>
						<a class="status"><i class="circle"></i>服务中</a>
					</p>
				</div>
				<p class="f-fr icon-charger"></p>
			</div> 
			<div class="detail-addr bb-1px clearfix">
				<p class="addr f-fl">广东省深圳市龙岗区龙岗大道木棉湾地铁站B出口佳兆业广场3楼</p>
				<p class="meter f-fr"><i class="icon-mark"></i>733米</p>
			</div>
			<ul class="info-list">
				<li class="bb-1px">服务时间：08:00-23:00</li>
				<li class="bb-1px">网点类型：商场</li>
				<li class="bb-1px">呼响客服：400-0000-000</li>
			</ul>
			<a class="btn">借充电宝</a>
		</div>
	</body>
</html>